.write-up-main-work-item {
    background-color: #F2F6FA;
    border: 2px dashed black;
}

.write-up-main-work-item-textarea {
    box-sizing: border-box;
    resize: none;
    width: 100%;

    background-color: lightgray;
    border: none;
}